<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<style>
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="col-12 mt-3 mb-3">
                    <h2 align="center">Digital Wallet</h2>
                </div>
                <div class="col-12 mt-3 mb-3">
                  <p align="center"><a href=lihatsaldo><button type="button" class="btn btn-outline-secondary">Lihat Saldo</button></a></p>
                </div>
                <div class="col-12 mt-3 mb-3">
                  <p align="center"><a href=bayardenganovo ><button type="button" class="btn btn-outline-secondary">Bayar dengan OVO</button></a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>