<!DOCTYPE html>
<html>
<head>
  <title>Pay with Ovo Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<style>
</style>
<body>
    <div class="container">
      <div class="row">
          <div class="col align-self-center">
              <div class="col-12 mt-3 mb-3">
                <h2 align="center">Pay using OVO</h2>
              </div>
              <div class="col-12 mt-3 mb-3">
                <p align="center">
                  <form action="/bayardenganovo/pay" method="post">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                      <label for="amount" class="form-label">Amount</label>
                      <input type="amount" class="form-control" id="amount" name="amount">
                    </div>
                    <div class="mb-3">
                      <label for="phone_number" class="form-label">Phone Number</label>
                      <input type="number" class="form-control" id="phone_number" name="phone_number">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </p>
              </div>
          </div>
      </div>
    </div>
</body>
</html>